@font-face {
    font-family: 'digitalism';
    src: url('/fonts/digitalism.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arcade';
    src: url('/fonts/arcade.regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.game {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .game {
        flex-direction: column;
    }
}

.exit {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* height: 100vh; */
    /* font-family: Arial, sans-serif; */
    /* font-family: 'digitalism'; */
    font-family: 'arcade';
    /* background-color: #303030; */
    background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%),
        linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
    background-color: #363636;
    color: #ffffff
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #000
}

.cell {
    background-color: #f0f0f0;
    border: 2px solid #cccccc;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #e0e0e0;
}

.message {
    margin: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
    text-align: center;
    background-color: #000000;
    font-size: 1.5em;
    color: greenyellow
        /* font-family:'digitalism' */
}

.menu {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #ffff00;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 2rem;
}

.menu:hover {
    background-color: #ffcc00;
    border: 2px solid orange;
    color: blue;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #333333;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'arcade';
    cursor: pointer;
    transition: background-color 0.3s;
}

.newgame:hover {
    border: 2px solid orange;
    background-color: #000;
    font: black;
}

button:hover {
    background-color: #ffcc00;
    border: 2px solid orange;
    color: blue;
}

.playagain:hover {
    background-color: #ffcc00;
}

.select {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.select input {
    height: 40px;
    width: 40px;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.select p {
    font-size: 2rem;
    /* Adjust the font size here */
    margin: 0;
}

.gameinfo {
    margin-left: 2rem;
    color: #000
}

@media only screen and (max-width: 600px) {
    .gameinfo {
        margin: 0;
    }
}